In [2]:
import pandas as pd
import networkx as nx

In [3]:
#Sample Population
pop = pd.read_csv('../Data/erie-data/Erie_pop_id.csv').iloc[:,1:]#.set_index('id')
print('Total population in ERIE County is:', len(pop))

#Networks"
#hhold_networks
hhold_nw = nx.read_adjlist('../Data/erie-data/networks/hhold_nw.csv', delimiter=',')
#daycare
daycare_nw = nx.read_adjlist('../Data/erie-data/networks/daycare_nw.csv', delimiter=',')
#school
school_nw = nx.read_adjlist('../Data/erie-data/networks/school_nw.csv', delimiter=',')
#work
work_nw = nx.read_adjlist('../Data/erie-data/networks/work_nw.csv', delimiter=',')

Total population in ERIE County is: 900660

In [28]:
#sample_net = pd.read_csv('../Data/erie-data/networks/hhold_nw.csv').iloc[:,1:3]
#sample_net.head()

path_csv = '../Data/erie-data/networks/hhold_nw.csv'
with open(path_csv) as f:
    lines = f.readlines()
    num = max(l.count(',') for l in lines) + 1
    print (num)


df = pd.read_csv(path_csv, names=range(num))
#print (df.head())

12
              0              1                2                 3   \
0  36029000110i0  36029000110i3  36029000110i250  36029000110i1995
1  36029000110i1            NaN              NaN               NaN
2  36029000110i2            NaN              NaN               NaN
3  36029000110i3  36029000110i0  36029000110i250  36029000110i1995
4  36029000110i4            NaN              NaN               NaN

                 4    5    6    7    8    9    10   11
0  36029000110i2356  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1               NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2               NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  36029000110i2356  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4               NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

/var/folders/b_/dltdc3_d0dzgc_5m7qnc4ysm0000gn/T/ipykernel_47443/276211942.py:11: DtypeWarning: Columns (9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_csv, names=range(num))

In [41]:
df.iloc[:,:5].dropna().reset_index(drop=True)

,0,1,2,3,4
0,36029000110i0,36029000110i3,36029000110i250,36029000110i1995,36029000110i2356
1,36029000110i3,36029000110i0,36029000110i250,36029000110i1995,36029000110i2356
2,36029000110i44,36029000110i53,36029000110i2204,36029000110i278,36029000110i2151
3,36029000110i53,36029000110i44,36029000110i278,36029000110i2030,36029000110i2204
4,36029000110i58,36029000110i59,36029000110i2740,36029000110i289,36029000110i2192
...,...,...,...,...,...
183419,36029940000i1829,36029940000i204,36029940000i385,36029940000i1348,36029940000i1635
183420,36029940000i1831,36029940000i345,36029940000i570,36029940000i1398,36029940000i1818
183421,36029940000i1833,36029940000i681,36029940000i874,36029940000i876,36029940000i921
183422,36029940000i1834,36029940000i686,36029940000i882,36029940000i1249,36029940000i1780
183423,36029940000i1835,36029940000i280,36029940000i283,36029940000i1308,36029940000i1521

In [19]:
pop.head()#.to_csv('test.csv')

,id,age,sex,hhold,htype,wp,geometry,long,lat
0,36029000110i0,6.0,f,36029000110h335,5,36029000110s0,POINT (-78.82896033753237 42.8319901673968),-78.828960,42.831990
1,36029000110i1,54.0,f,36029000110h66,9,36029010700w572,POINT (-78.82684360311679 42.844139551113386),-78.826844,42.844140
2,36029000110i2,27.0,m,36029000110h185,7,36029000110h185,POINT (-78.85573318586734 42.839600789208994),-78.855733,42.839601
3,36029000110i3,13.0,f,36029000110h335,5,36029000110s0,POINT (-78.82896033753237 42.8319901673968),-78.828960,42.831990
4,36029000110i4,28.0,m,36029000110h186,7,36029000110h186,POINT (-78.83826068581105 42.85535764959998),-78.838261,42.855358

In [15]:
pop.tail()

,id,age,sex,hhold,htype,wp,geometry,long,lat
900655,36029940000i1831,16.0,f,36029940000h405,3,36029015504s0,POINT (-79.12422960521181 42.57431784113052),-79.124230,42.574318
900656,36029940000i1832,35.0,f,36029940000h653,6,36029940000h653,POINT (-78.9717120285946 42.543339963292304),-78.971712,42.543340
900657,36029940000i1833,40.0,f,36029940000h484,1,36009940300w439,POINT (-79.00099290472964 42.55936297550051),-79.000993,42.559363
900658,36029940000i1834,38.0,f,36029940000h485,1,36009940300w366,POINT (-79.1248845389016 42.5675512676894),-79.124885,42.567551
900659,36029940000i1835,49.0,f,36029940000h266,5,36029940000h266,POINT (-78.97280120512237 42.51433612766749),-78.972801,42.514336

In [13]:
list(hhold_nw.neighbors('36029940000i1835'))

['36029940000i280',
 '36029940000i283',
 '36029940000i1308',
 '36029940000i1521',
 '36029940000i1777']

In [10]:
list(school_nw.neighbors('36029940000i1835'))

['36029000110i3',
 '36029017400i3774',
 '36029000110i8',
 '36029017400i3768',
 '36029000600i4398']